@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mono';
  src: url('./fonts/mono.woff2') format('woff');
}

@font-face {
  font-family: 'Monob';
  src: url('./fonts/monob.woff2') format('woff')
}
