@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bodyf';
  src: url('./fonts/ABCMarfa-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Titlef';
  src: url('./fonts/BeatriceDisplay-Regular.woff2') format('woff')
}
