/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

      @font-face {
        font-family: 'FavoritExtended';
        src: url('./Favorit-ExtendedRegular.woff') format('woff2'),
             url('./Favorit-ExtendedRegular.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'Soehne';
        src: url('./SoehneBreitApp-Fett.ttf') format('opentype');
       }

       @font-face {
        font-family: 'Machina';
        src: url('./NeueMachina-Regular.woff') format('woff2'),
             url('./NeueMachina-Regular.woff2') format('woff');
        font-weight: normal;
        font-style: normal; 
      }
